body {
    box-sizing: border-box;
    background-color: #EDF5E0;
    /* E27D5F  7EC3AE 5CDB94*/
}

.header-title {
    border: 4px solid #25274D;
    color: #E85A50;
    padding: 10px 10px;
    display: inline-block;
}

.banner {
    height: 100%;
}

.banner-img {
    height: 100%;
    object-fit: cover;
}

.calculate-area {
    background-color: #e5f4f6;
}

.common-btn {
    background-color: #05396B;
    color: white;
    padding: 3px 10px;
    border: none;
}

.notify {
    display: none;
}