body {
    box-sizing: border-box;
    background-color: rgb(233, 227, 227);
    /* E27D5F  7EC3AE 5CDB94*/
}

/* header style */
.header-title {
    border: 4px solid #131544;
    color: #E85A50;
    padding: 10px 10px;
    display: inline-block;
}

/* image style */
.banner {
    height: 100%;
}

.banner-img {
    height: 100%;
    object-fit: cover;
}

/* income-expense style */
.calculate-area {
    background-color: #e5f4f6;
}

.common-btn {
    background-color: #056b5a;
    color: white;
    padding: 3px 10px;
    border: none;
}

/* error field style */
.notify {
    display: none;
    border: 1px solid red;
    padding: 2px;
    margin: 2px;
}