body {
    background-color: #7DC2AD;
    /* E27D5F  7EC3AE 5CDB94*/
}

.header-title {
    border: 4px solid #009D9E;
    color: white;
    padding: 10px 10px;
    display: inline-block;
}

.banner {
    height: 100%;
}

.banner-img {
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.calculate-area {
    background-color: #8DE4AF;
    /* margin-left: 20px; */
}

.common-btn {
    background-color: #05396B;
    color: white;
    padding: 3px 10px;
    border: none;
}

.notify {
    display: none;
}







.demo {
    display: flex;
    justify-content: center;

}

/* .title {
    margin-right: 30px;
    font-size: 20px;
}

.input-field {
    background-color: #DCDCDC;
    border: none;
} */